$transitionTime: 500ms;

/* 路由前進時的入場/退場動畫 */
.forward-enter,
.forward-exit {
  position: absolute !important;
  top: 0;
  width: 100%;
}

.forward-enter {
  opacity: 0;
  transform: translateX(100%);
}

.forward-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all $transitionTime;
}

.forward-exit {
  opacity: 1;
  transform: translateX(0);
}

.forward-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all $transitionTime;
}

/* 增加/刪除清單時的入場/退場動畫 */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity $transitionTime ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity $transitionTime ease-in;
}
