html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Roboto, safari, monospace;
  height: 100%;
}

body {
  height: 100%;
}

button {
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
