html {
  overflow: hidden;
  font-family: Roboto, safari, monospace;
}

// body:after {
//   content: url('../images/baseline-pause_circle_filled-24px.svg');
// }

button {
  border: none;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
