$ColorTomato: #ff6f61;

.title {
  text-align: center;
  letter-spacing: 0px;
  font: normal normal bold 33px/45px Roboto;
  text-transform: uppercase;
}

.text-light {
  color: #fff;
}

.text-tomato {
  color: $ColorTomato;
}

.rotate-left-90 {
  transform: matrix(0, -1, 1, 0, 0, 0);
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-sb {
  justify-content: space-between;
}


.btn-md {
  width: 40px;
  height: 40px;
}

.btn-lg {
  width: 60px;
  height: 60px;
}

.opacity-half {
  opacity: 0.5;
}

.bg-tomato {
  background-color: $ColorTomato;
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0);
}

$icon-background: (
  schedule: url(../images/schedule.svg) no-repeat,
  list: url(../images/list.svg) no-repeat,
  assessment: url(../images/assessment.svg) no-repeat,
  music: url(../images/music.svg) no-repeat,
  add: url(../images/add_circle.svg) no-repeat,
  add-dark: url(../images/add_circle-dark.svg) no-repeat,
  play: url(../images/play_circle_filled.svg) 0% 0% no-repeat padding-box,
  play-dark: url(../images/play_circle_filled-dark.svg) 0% 0% no-repeat
    padding-box,
  play-sm: url(../images/play_circle_filled_sm.svg) 0% 0% no-repeat padding-box,
  pause: url(../images/pause_circle_filled.svg) 0% 0% no-repeat padding-box,
  radio: transparent url(../images/radio_button_unchecked.svg) 0% 0% no-repeat
    padding-box,
  radio-dark: transparent url(../images/radio_button_unchecked-dark.svg) 0% 0%
    no-repeat padding-box,
  expand: transparent url(../images/expand_more.svg) 0% 0% no-repeat padding-box,
);

@each $key, $value in $icon-background {
  .icon-#{$key} {
    background: $value;
  }
}

.mg-b-3 {
  margin-bottom: 3em;
}

.pd-l-3 {
  padding-left: 1em;
}
