.title {
  text-align: center;
  letter-spacing: 0px;
  font: normal normal bold 33px/45px Roboto;
  text-transform: uppercase;
}

.text-light {
  color: #fff;
}

.rotate-left-90 {
  transform: matrix(0, -1, 1, 0, 0, 0);
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-sb {
  justify-content: space-between;
}

.btn-md {
  width: 40px;
  height: 40px;
}

.btn-lg {
  width: 60px;
  height: 60px;
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0);
}

$icon-background: (
  schedule: url(../images/round-schedule-24px.svg),
  list: url(../images/round-list-24px.svg),
  assessment: url(../images/round-assessment-24px.svg),
  music: url(../images/round-library_music-24px.svg),
  add: url(../images/round-add_circle-24px.svg),
  play: url(../images/baseline-play_circle_filled-24px.svg) 0% 0% no-repeat
    padding-box,
  pause: url(../images/baseline-pause_circle_filled-24px.svg) 0% 0% no-repeat
    padding-box,
);

@each $key, $value in $icon-background {
  .icon-#{$key} {
    background: $value;
  }
}
