$sidenavWidth: percentage(180/1280);

#sidenav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 9em;
  height: 100vh;
  background: $backgroundColor;
  box-shadow: 0px 0px 20px #44444480;
  font-size: 20px;
  z-index: 2;

  .title {
    position: absolute;
    top: 190px;
    width: 180px;
    height: 50px;
  }
}

.sidenav-btn {
  position: absolute;
  left: 65px;
}

.btn-schedule {
  top: 400px;
}

.btn-list {
  top: 484px;
}

.btn-assessment {
  top: 566px;
}

.btn-music {
  top: 650px;
}
