$sidenavWidth: percentage(180/1280);

#sidenav {
  position: relative;
  top: 0px;
  left: 0px;
  width: 9em;
  height: 100vh;
  background: $backgroundColor;
  box-shadow: 0px 0px 20px #44444480;
  font-size: 20px;

  .title {
    position: absolute;
    top: 190px;
    width: 180px;
    height: 50px;
  }
}

.sidenav-btn {
  position: absolute;
  left: 65px;
}

#btn-schedule {
  top: 400px;
  background-image: url(../images/round-schedule-24px.svg);
}

#btn-list {
  top: 484px;
  background-image: url(../images/round-list-24px.svg);
}

#btn-assessment {
  top: 566px;
  background-image: url(../images/round-assessment-24px.svg);
}

#btn-music {
  top: 650px;
  background-image: url(../images/round-library_music-24px.svg);
}
