.todo-section {
  width: 55%;
  padding-left: 23em;
  padding-top: 7em;
  flex-wrap: wrap;
}

.new-todo {
  width: 100%;
  padding-bottom: 2em;
}

.todo-input,
.todo-list {
  font: normal normal normal 20px/26px Roboto;
  text-transform: uppercase;
}

// @Screen Home
.todo-input-home {
  width: 88%;
  padding-left: 1.5em;
  border: 3px solid #ffffff;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

// @Screen Todo List
.todo-input-todoList {
  width: 88%;
  padding-left: 1.5em;
  border: 3px solid #998477;

  &::placeholder {
    color: #998477;
  }
}

.todo-list {
  width: 100%;
  padding: 1em 0;
}

.todo-thing {
  width: 100%;
  padding: 1em 0;
}
